<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Welcome to Medi-Help</title>
</head>

<body style="background-color: #181a15;">
    <nav class="navbar">
        <a href="#"><i class="fas fa-clinic-medical fa-3x"></i></a>
        <h2>Welcome Doctor</h2>
    </nav>
    <div class="container dr">
        <div class="row doc">
            <div class="card col-sm nd" style="width: 18rem;">
                <img class="card-img-top im"
                    src="https://img.freepik.com/free-photo/portrait-smiling-doctor-wearing-white-robe_23-2148328416.jpg?size=626&ext=jpg"
                    alt="pic1">
                <div class="card-body">
                    <form action="/dprofile" method="GET">
                        <button><i class="fas fa-user-circle"></i> Profile</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row doc">
            <div class="card col-sm nd" style="width: 18rem;">
                <img class="card-img-top im"
                    src="https://img.freepik.com/free-photo/waist-up-shot-female-doctor-listening-heartbeat-senior-man_1098-20678.jpg?size=626&ext=jpg"
                    alt="pic2">
                <div class="card-body">
                    <form action="/dapps" method="GET">
                        <button><i class="fas fa-clipboard"></i></i> Appointments</button>
                    </form>
                </div>
            </div>
            <div class="card col-sm nd" style="width: 18rem;">
                <img class="card-img-top im"
                    src="https://img.freepik.com/free-photo/businessman-marking-calendar-appointment_53876-14778.jpg?size=626&ext=jpg"
                    alt="pic3">
                <div class="card-body">
                    <form action="/patients" method="GET">
                        <button><i class="fas fa-user-friends"></i> Patients</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>