<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Welcome to Medi-Help</title>
</head>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Welcome to Medi-Help</title>
</head>

<body>
    <nav class="navbar">
        <a href="#"><i class="fas fa-clinic-medical fa-3x"></i></a>
        <h2>Welcome User</h2>
    </nav>
    <div class="meds">
        <form action="/medshop" method="GET">
            <button><i class="fas fa-store-alt"></i> Go to Medical Store</button>
        </form>
    </div>
    <div style="text-align: center; margin: 20px auto 20px auto; font-family: 'Ubuntu', sans-serif;">
        <h1>Medicine dosage</h1>
    </div>
    <div class="container med">
        <div class="row md">
            <div class="card col-sm nd" style="width: 18rem;">
                <div class="card-body">
                    <h4>Paracetamol</h4>
                    <h5>4 times a day</h5>
                </div>
            </div>
        </div>
        <div class="row md">
            <div class="card col-sm nd" style="width: 18rem;">
                <div class="card-body">
                    <h4>Ibuprofen</h4>
                    <h5>3 times a day</h5>
                </div>
            </div>
        </div>
        <div class="row md">
            <div class="card col-sm nd" style="width: 18rem;">
                <div class="card-body">
                    <h4>Alprazolam</h4>
                    <h5>2 times a day</h5>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>